header{
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid lightgray;
  justify-content: center;
  align-items: center
}
.coin-header {
  display: flex;
  align-items: center;
  height: 77px;
  max-width: 1000px;
  width:100%
}
header a {
  color: black;
  font-family: sans-serif;
  font-weight: 700
}
.header-logo {
  margin-left: 20px;
  display: flex;
  justify-content: flex-start;
  flex: 1;
  align-items: center;
  font-size: 1rem;
}
.header-coin {
  margin-right: 20px;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}
.header-search{
  display: flex;
  justify-content: flex-end;
  align-items: center
}
.header-coin a {
  margin-right: 20px;
  font-size: 1em;
}
.search{
  margin-right: 10;
  padding:5;
  border-radius: 5;
  width:5em;
  height:1em;
}
.search-button{
  width:2em;
  height:1em;

}